<%= form_for :task do |f| %>
  <div class="row">
    <div class="col-md-10"><%= f.text_field :title, class: 'form-control' %></div>
    <div class="col-md-2"><%= f.submit "Create Task List", class: "btn btn-primary col-md-10" %></div>
  </div>
<% end %>