<% @tasks.each do |t| %>
<div class="row">
  <div class="col-md-4"><%= link_to t.title, t  %></div>
  <div class="col-md-2"><%= t.status %></div>
  <div class="col-md-1"><%= link_to("Remove", t, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" })  %></div>
</div>
<% end %>
